<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel de Clima</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <main class="container">
        <section class="card">
            <h1>Painel de Clima</h1>

            <form action="/clima" method="POST">
                <label for="cidade">Digite o nome da cidade:</label>
                <input type="text" name="cidade" id="cidade" required>

                <button type="submit">Buscar Clima</button>
            </form>
        </section>
    </main>
</body>
</html>